.business > .contents {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  padding: 100px 0;
}
.business > .contents > h6 {
  font-size: 25px;
  color: #757575;
  margin-bottom: 20px;
}
.business > .contents > h2 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 50px;
}

.business > .contents > article {
  width: 100%;
  display: flex;

  gap: 50px;
}
.business > .contents > article > .card {
  width: 100%;
}
.business > .contents > article > .card > .album {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
}
.business > .contents > article > .card > .album > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s;
}
.business > .contents > article > .card > .album > img:hover {
  transform: scale(1.05);
}
.business > .contents > article > .card > p {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}
.business > .contents > article > .card > span {
  color: #757575;
  font-size: 18px;
  font-weight: 500;
}

.business > .contents > .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}
.business > .contents > .block > .more {
  width: fit-content;
  padding: 20px 150px;
  border: none;
  background-color: #fff2ea;
  color: #ff5160;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.business > .contents > .block > .more:hover {
  background-color: #ffe5dc;
}

.business {
  margin-bottom: 100px;
}

@media screen and (max-width: 1000px) {
  .business > .contents {
    max-width: 340px;
  }
  .business > .contents > h6 {
    font-size: 15px;
  }
  .business > .contents > h2 {
    font-size: 30px;
    line-height: 1.5;
  }

  .business > .contents > article {
    flex-direction: column;
    gap: 30px;
  }
  .business > .contents > article > .card > p {
    font-size: 20px;
  }
  .business > .contents > article > .card > span {
    font-size: 15px;
  }

  .business > .contents > .block > .more {
    font-size: 15px;
  }
}
