.grids > .contents {
  width: 100%;
  max-width: 1040px;
  height: 1000px;
  margin: 0 auto;
  padding: 100px 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.grids > .contents > article {
  width: 100%;
  height: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: bold;
  padding: 32px;
  color: white;
  background-size: cover;
}

.grids > .contents > article > .title {
  color: #757575;
  margin-bottom: 10px;
}

.grids > .contents > article > .count {
  color: #1f1f1f;
}

.mau {
  background-image: url("https://ably.team/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fably-team%2Fd5aa5e7c-ddc9-40eb-8a6e-763d4d7a4de5_MAU%2B700%25E1%2584%2586%25E1%2585%25A1%25E1%2586%25AB.png%3Fauto%3Dcompress%2Cformat%26rect%3D0%2C0%2C2497%2C3201%26w%3D624%26h%3D800&w=1920&q=75");
  background-position-y: 45%;
  grid-area: 1 / 1 / 3 / 3;
}
.investment {
  background-image: url("https://ably.team/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fably-team%2FZ1uBY5bqstJ98cic_%25E1%2584%2582%25E1%2585%25AE%25E1%2584%258C%25E1%2585%25A5%25E1%2586%25A8%25E1%2584%2583%25E1%2585%25AE%25E1%2584%258C%25E1%2585%25A1%25E1%2584%2580%25E1%2585%25B3%25E1%2586%25B7%25E1%2584%258B%25E1%2585%25A2%25E1%2586%25A81730%25E1%2584%258B%25E1%2585%25A5%25E1%2586%25A8-%25E1%2584%2589%25E1%2585%25AE%25E1%2584%258C%25E1%2585%25A5%25E1%2586%25BC%25E1%2584%2587%25E1%2585%25A9%25E1%2586%25AB-.png%3Fauto%3Dformat%2Ccompress%26rect%3D0%2C0%2C2497%2C3201%26w%3D624%26h%3D800&w=1920&q=75");
  background-position-y: 60%;
  grid-area: 1 / 3 / 3 / 6;
}
.download {
  background-image: url("https://ably.team/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fably-team%2FZ1uG6JbqstJ98cjR_image-5-%25E1%2584%2589%25E1%2585%25AE%25E1%2584%258C%25E1%2585%25A5%25E1%2586%25BC%25E1%2584%2587%25E1%2585%25A9%25E1%2586%25AB.png%3Fauto%3Dformat%2Ccompress%26rect%3D0%2C0%2C2497%2C3201%26w%3D624%26h%3D800&w=1920&q=75");
  background-position-y: 40%;

  grid-area: 3 / 1 / 6 / 4;
}
.review {
  background-image: url("https://ably.team/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fably-team%2F7d9a40ce-b0de-4877-bc4e-c22e8b39e205_%25E1%2584%2582%25E1%2585%25AE%25E1%2584%258C%25E1%2585%25A5%25E1%2586%25A8%2B%25E1%2584%2585%25E1%2585%25B5%25E1%2584%2587%25E1%2585%25B2%25E1%2584%2589%25E1%2585%25AE%2B3500%25E1%2584%2586%25E1%2585%25A1%25E1%2586%25AB%25E1%2584%2580%25E1%2585%25A2.png%3Fauto%3Dcompress%2Cformat%26rect%3D0%2C0%2C2497%2C3201%26w%3D624%26h%3D800&w=1920&q=75");
  background-position-y: 60%;

  text-align: center;
  grid-area: 3 / 4 / 8 / 6;
}
.trade {
  background-image: url("https://ably.team/_next/image?url=https%3A%2F%2Fimages.prismic.io%2Fably-team%2F0ab0393a-10f4-45d8-af13-978f70485f6c_%25E1%2584%2582%25E1%2585%25AE%25E1%2584%258C%25E1%2585%25A5%25E1%2586%25A8%2B%25E1%2584%2580%25E1%2585%25A5%25E1%2584%2585%25E1%2585%25A2%25E1%2584%258B%25E1%2585%25A2%25E1%2586%25A8%2B1%25E1%2584%258C%25E1%2585%25A9%25E1%2584%258B%25E1%2585%25AF%25E1%2586%25AB.png%3Fauto%3Dcompress%2Cformat%26rect%3D0%2C0%2C2497%2C3201%26w%3D624%26h%3D800&w=1920&q=75");
  background-position-y: 53%;

  text-align: center;
  grid-area: 6 / 1 / 8 / 4;
}

@media screen and (max-width: 1000px) {
  .grids > .contents {
    max-width: 340px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .grids > .contents > article {
    height: 400px;
    font-size: 25px;
  }
}
