@font-face {
  font-family: "SF_HambakSnow";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_HambakSnow.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  padding: 5px 0 5px 0;
  background-color: white;
}
nav {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.initial {
  font-family: "SF_HambakSnow";
  font-size: 24px;
  font-weight: 600;
  color: #444444;
}
.links {
  display: flex;
  flex-direction: row;
}
.links > li {
  font-family: "SF_HambakSnow";
  font-size: 16px;
  font-weight: 600;
  color: #444444;
  padding: 20px 40px;
  transition: all 0.3s;
}
.links > li:hover {
  cursor: pointer;
  background-color: #444444;
  color: white;
}

@media screen and (max-width: 768px) {
  nav {
    max-width: 400px;
    padding: 5px 0;
  }
  .links {
    /* 안보여주는 css */
    display: none;
  }
}
