.bucketlist {
  width: 100vw;
}
.bucketlist > article {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bucketlist > article > .bucketlist__logo {
  font-size: 45px;
  color: #957468;
}
.bucketlist > article > .bucketlist__grid {
  width: 100%;
  height: 40vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 100px 0px;
}
.bucketlist > article > .bucketlist__grid > .card {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.bucketlist > article > .bucketlist__grid > .card > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.8;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0.8;
  }
}
.bucketlist > article > .bucketlist__grid > .card > i {
  width: 100%;
  height: 100%;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #957468;
}
.bucketlist > article > .bucketlist__grid > .card > .hover-card {
  background-color: #957468;
  position: absolute;
  top: 0;
  padding-inline: 10px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.bucketlist > article > .bucketlist__grid > .card > .hover-card > .card__title {
  font-size: 35px;
  margin: 20px 10px;
  color: white;
}
.bucketlist > article > .bucketlist__grid > .card > .hover-card > .card__info {
  font-size: 20px;
  margin: 20px 10px;
  color: white;
}
.card:hover .hover-card {
  -webkit-animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
